<h1>Skill Calculator</h1>
<p>This page will give you the ability to choose skills and see what PvM and PvP bonuses they grant you, so you can
    design the most powerful builds!</p>
<div class="row">
    <div class="column">
        <app-build-editor (buildSaved)="buildSaved($event)"
                          (newBuild)="newBuild()"
                          (deleteBuild)="deleteBuild($event)"
                          [build]="currentBuild$ | async"
                          [builds]="(build$ | async)?.builds"></app-build-editor>
    </div>
    <div class="column">
        <h2>Results</h2>
    </div>
</div>